$main-color: #19c8fa;
$transparent-color: rgb(15 116 143 / 70%);
$section-padding: 100px;

body {
  background-color: #806f6f;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  header .container nav .toggle-menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #a2a2a2;
      bottom: 0;
      width: calc(100% - 30px);
      left: 15px;
    }

    nav {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .toggle-menu {
        color: white;
        font-size: 22px;
      }

      ul {
        display: flex;

        li a {
          padding: 40px 10px;
          display: block;
          color: white;
          text-decoration: none;
          font-size: 14px;
          transition: 0.3s;
          position: relative;
          z-index: 2;

          &.active,
          &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
          }
        }
      }

      .form {
        width: 40px;
        height: 30px;
        position: relative;
        margin-left: 30px;
        border-left: 1px solid white;

        i {
          position: absolute;
          font-size: 20px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          color: white;
        }
      }
    }
  }

  .logo img {
    height: 40px;
  }
}

@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
}

.landing {
  min-height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    width: 50%;
    background-color: $transparent-color;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;

    .content {
      max-width: 500px;

      h2 {
        font-size: 32px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        line-height: 2;
      }
    }
  }

  .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 31px;
  }

  .l {
    left: 30px;
  }

  .r {
    right: 30px;
  }

  .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;

    li {
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-radius: 50%;
      margin-right: 10px;

      &.active {
        background-color: $main-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .landing {
    .text {
      width: 100%;

      .content {
        max-width: 100%;
      }
    }

    .change-background {
      display: none;
    }
  }
}
